
<div class="container-fluid vh-100 bg-custom text-light text-center py-5 d-flex flex-column justify-content-center align-items-center p-0 m-0 ">
    

    <figure class="mb-5">

        <img [routerLink]="['/usuarios']" class="img-fluid rounded-5 w-50 cursor-pointer" src="./images/logo.jpg" alt="Logotipo de la pagina web">

    </figure>

    <div class="d-flex gap-3">
        <a class="btn btn-danger text-warning p-3 rounded-4" [routerLink]="['/usuarios']">Ver Usuarios</a>
        <a class="btn btn-danger text-warning p-3 rounded-4" [routerLink]="['/nuevoUsuario']">Crear Usuario</a>
    </div>

    

</div>

