
<div class="container-fluid vh-100 bg-custom text-light text-center py-5 d-flex flex-column justify-content-center align-items-center p-0 m-0">
    <figure>
      <img class="img-fluid rounded-5 w-50 cursor-pointer" src="./images/JuananTriste.png" alt="Juanan triste"
      [routerLink]="['/home']">
    </figure>
      <h1 class="display-1 fw-bold text-danger">404</h1>
      <p class="h4">¡D'Oh! Página no encontrada.</p>
      <p class="lead">Parece que te has perdido en el apocalipsis.</p>
      <a class="btn btn-danger mt-4 p-4 text-warning rounded-4" [routerLink]="['/home']">Volver al inicio</a>
    </div>
  
  