
<div class=" container-fluid vh-100 bg-custom py-5">



    <section class="container text-center">

            

        <form class="form-control rounded-4 border border-danger border-5 mt-5">

            <h1 class="text-warning rounded-4 bg-danger p-3 mt-2">Creación o modificación de Usuario</h1>

            <div class="m-3 p-3">

                <label class="form-label" for="first_name">Su nombre de pila</label>
                <input type="text" class="form-control text-center" id="first_name" placeholder="Introduzca su nombre">
                
            </div>

            <div class="m-3 p-3">

                <label class="form-label" for="last_name">Apellidos</label>
                <input type="text" class="form-control text-center" id="last_name" placeholder="Introduzca su/s apellido/s">
                
            </div>

            <div class="m-3 p-3">

                <label class="form-label" for="username">Nombre de Usuario</label>
                <input type="text" class="form-control text-center" id="username" placeholder="Introduzca el nombre que le va a identifcar">

            </div>

            <div class="m-3 p-3">

                <label class="form-label" for="email">Email</label>
                <input type="text" class="form-control text-center" id="email" placeholder="Introduzca su email corporativo">
                
            </div>

            <div class="m-3 p-3">

                <label class="form-label" for="image">Foto de Usuario</label>
                <input type="text" class="form-control text-center" id="image" placeholder="Introduzca una URL con su foto preferida">
                
            </div>

            <div class="m-3 p-3">

                <label class="form-label" for="password">Contraseña</label>
                <input type="text" class="form-control text-center" id="password" placeholder="Introduzca su contraseña">
                
            </div>

            <a class="btn btn-warning p-3 rounded mb-2">Hecho!</a>
        </form>



    </section>

</div>